.border-breathe {
  animation: breathe 1.5s infinite;
}

@keyframes breathe {
  0% {
    border-color: #4ADE80;
    box-shadow: 0 0 10px #4ADE80;
  }
  50% {
    border-color: #A0F0A0;
    box-shadow: 0 0 20px #A0F0A0;
  }
  100% {
    border-color: #4ADE80;
    box-shadow: 0 0 10px #4ADE80;
  }
}
